
<div class="container mx-auto flex flex-col text-center p-10">
  <h1 class="text-3xl font-bold">Nuestros Productos</h1>
  <p>Aquí encontrarás una selección de nuestros mejores postres y desayunos.</p>
</div>