<div class="bg-white p-8">
  <div class="w-4/5 mx-auto my-10">
    <h2 class="text-3xl text-center mb-20">Categories</h2>
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <!-- Category Item Start -->
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://sarasellos.com/wp-content/uploads/2024/04/tiramisu3.jpg" alt="Seafood"
          class="w-48 h-48 rounded-full object-cover">
        <p class="text-gray-700 mt-2">Seafood</p>
      </div>
      

    </div>
  </div>
</div>